.main h1 {
    font-weight: 300;
    padding: 15px;
}

#search {
    width: 80%;
    margin-bottom: 20px;
    border-color: rgb(47, 80, 227);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(145, 161, 232,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(145, 161, 232,1);
    box-shadow: 5px 5px 5px 0px rgba(145, 161, 232,1);
}

#search:focus {
    border-color: rgb(47, 80, 227);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(145, 161, 232,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(145, 161, 232,1);
    box-shadow: 5px 5px 5px 0px rgba(145, 161, 232,1);
}

#search-result {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 30px;
}

.giphy {
    flex: 30%;
}

.giph {
    max-width: 90%;
    text-align: center;
    border: 15px solid rgb(244, 244, 244);
}